doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans")
		title Dices play
	body
		#wrapper
			#header
				span#lineout Line output some dummy words or advices and a whole paragraph of bullshit
				#rules-btn
				#settings-btn
			#main
				#play
					span#play-game Play Dices!
				#playtable
					#player-0
						span#player-0-name Player1
						span#player-0-score 00
					#player-1
						span#player-1-name Player2
						span#player-1-score 00
					#dices-container
						#dices
							#dice-0
							#dice-1
						span#current-score 00
					#controlset
						#throw
							#throw-img
							span#throw-label Throw!
						#hold
							#hold-img
							span#hold-label Hold
					#stop
						button#stop-game Stop the game!
			#footer
		#modal
			#modal-window
				h3#modal-heading Modal window heading
				#rules
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla,
				#names-input
					span.names Input first player's name: 
					input(type="text" size="12" name="firstplayername" placeholder="Player1")#name-0
					span.names Input second player's name: 
					input(type="text" size="12" name="secondplayername" placeholder="Player2")#name-1
				#settings-input
					#dises-amount
						.dices-options
							input(type="radio" name="dices-amount" value="one" checked="true")#one-dice
							label(for="one-dice") one dice in play
						.dices-options
							input(type="radio" name="dices-amount" value="two")#two-dices
							label(for="two-dices") two dices in play
					#total-scores
						input(type="number" value="100" max="9999")#totalscore
						label(for="totalcsore") Input maximal score
				#alert
					p All results will be reseted to null. Do You really want to end this game?
				#buttonset
					button(type="button")#close-btn Close
					button(type="button")#cancel-btn Cancel
					button(type="button")#defaults-btn Defaults
					button(type="button")#save-btn Save settings
					button(type="button")#ok-btn Ok    
					button(type="button")#end-game-btn End game anyway
		script(src="js/main.js")