doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans")
		title Dices play
	body
		#wrapper
			#header
				span#lineout Line output some dummy words or advices and a whole paragraph of bullshit
				#rules
				#settings
			#main
				#play
					span#play-game Play Dices!
				#playtable
					#player-0
						span#player-0-name Player1
						span#player-0-score 00
					#player-1
						span#player-1-name Player2
						span#player-1-score 00
					#dices-container
						#dices
							#dice-0
							#dice-1
						span#current-score 00
					#buttonset
						#throw
							#throw-img
							span#throw-label Throw!
						#hold
							#hold-img
							span#hold-label Hold
					#stop
						button#stop-game Stop the game!
			#footer
		#modal
		script(src="js/main.js")